*{
    margin: 0;
    padding: 0;
}
.menu{
    position: cticky;
    top: 0;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 45px;
    border-radius: 25px;
}
.menu .menuTopText{
    animation: menuTextAnime 2s linear;
}
@keyframes menuTextAnime{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    35%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    65%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}
.menu .textB{
    color: #98fb98;
    text-shadow: 0px 0px 50px green, 0px 0px 100px green, 0px 0px 200px green;
}
.menu .textS{
    color: #87cefa;
    text-shadow: 0px 0px 50px blue, 0px 0px 100px blue, 0px 0px 200px blue;
}
.menu .textR{
    color: #dda0dd;
    text-shadow: 0px 0px 50px purple, 0px 0px 100px purple, 0px 0px 200px purple;
}
.menu .logo{
    height: 70px;
    margin: 15px 0;
}
.menuSec{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.menuSec .menuCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 150px;
}
.menuSec .menuCard .proImg{
    height: 250px;
    border-radius: 50px;
}
.menuSec .menuCard .projectCard1::after{
    position: relative;
    bottom: 0;
    margin-top: 30px;
    content: "";
    display: flex;
    justify-content: center;
    height: 20px;
    filter: blur(5px);
    border-radius: 50%;
    background: #ff6eb4;
    box-shadow: 0px -10px 20px deeppink, 0px -20px 50px deeppink, 0px -30px 100px deeppink;
}
.menuSec .menuCard .projectCard2::after{
    position: relative;
    bottom: 0;
    margin-top: 30px;
    content: "";
    display: flex;
    justify-content: center;
    height: 20px;
    filter: blur(5px);
    border-radius: 50%;
    background: #ff6347;
    box-shadow: 0px -10px 20px red, 0px -20px 50px red, 0px -30px 100px red;
}
.menuSec .menuCard .projectCard3::after{
    position: relative;
    bottom: 0;
    margin-top: 30px;
    content: "";
    display: flex;
    justify-content: center;
    height: 20px;
    filter: blur(5px);
    border-radius: 50%;
    background: #00bfff;
    box-shadow: 0px -10px 20px blue, 0px -20px 50px blue, 0px -30px 100px blue;
}
.menuSec .menuCard .projectCard4::after{
    position: relative;
    bottom: 0;
    margin-top: 30px;
    content: "";
    display: flex;
    justify-content: center;
    height: 20px;
    filter: blur(5px);
    border-radius: 50%;
    background: #ffd700;
    box-shadow: 0px -10px 20px orange, 0px -20px 50px orange, 0px -30px 100px orange;
}
.menuSec .menuCard .projectCard5:after{
    position: relative;
    bottom: 0;
    margin-top: 30px;
    content: "";
    display: flex;
    justify-content: center;
    height: 20px;
    filter: blur(5px);
    border-radius: 50%;
    background: #00ff00;
    box-shadow: 0px -10px 20px green, 0px -20px 50px green, 0px -30px 100px green;
}
.menuSec .menuCard .projectCard6:after{
    position: relative;
    bottom: 0;
    margin-top: 30px;
    content: "";
    display: flex;
    justify-content: center;
    height: 20px;
    filter: blur(5px);
    border-radius: 50%;
    background: #d500ff;
    box-shadow: 0px -10px 20px #822f95, 0px -20px 50px #822f95, 0px -30px 100px #822f95;
}
.concept{
    position: fixed;
    bottom: 0;
    height: 20%;
    min-width: 100%;
    font-size: 32px;
    color: white;
    font-family: Sans-Serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #787878;
}
.concept .conceptCard{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 30px;
    text-align: left;
    width: 900px;
    color: white;
}
.concept .conceptCard .conceptA{
    color: white;
}